h2 {
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

img {
  max-width: 250px;
  border: 2px solid #ddd;
  border-radius: 10px;
}

#aboutCarousel img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}