.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.carousel-caption h5 {
  font-size: 1rem;
}

.carousel-inner img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}